@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Angele";
  src: url("./assets/fonts/angele-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Angele";
  src: url("./assets/fonts/angele-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Angele";
  src: url("./assets/fonts/angele-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Angele";
  src: url("./assets/fonts/angele-bolditalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-display: "Bricolage Grotesque", Arial, sans-serif;

  --font-angele: "Angele", Arial, sans-serif;

  --color-wedding-50: #f4f4f2;
  --color-wedding-100: #e4e3dd;
  --color-wedding-200: #cbc9bd;
  --color-wedding-300: #aca998;
  --color-wedding-400: #948f7b;
  --color-wedding-500: #86806c;
  --color-wedding-600: #766f5f;
  --color-wedding-700: #5d564b;
  --color-wedding-800: #504a43;
  --color-wedding-900: #47413c;
  --color-wedding-950: #272421;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: var(--font-display);
  color: var(--color-company-950);
}
